@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
.navbarBorder {
  border-bottom: 1px solid #e2e2e2;
}
.navbarPadding {
  padding: 0px 185px !important;
}
.mainMenu ul li a {
  padding: 25px 0px;
}
.mainMenu ul li {
  margin-right: 30px;
}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .navbarPadding {
    padding: 0px 145px !important;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1599px) {
  .navbarPadding {
    padding: 0px 60px !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .navbarPadding {
    padding: 0px 35px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbarPadding {
    padding: 20px 30px !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px),
  only screen and (min-width: 768px) and (max-width: 991px) {
  .navbarPadding {
    padding: 20px 15px !important;
  }
}
@media (max-width: 575px) {
  .navbarPadding {
    padding: 20px 0px !important;
  }
}
